.Album {
    background: #009999;
}
.AlbumTitle{
    display: flex;
    align-items: flex-end;
    height: 10vh;
    padding: 10px;
    margin: 0;
    border: 3px solid #004545;
}
.AlbumTitle img {
    height: 100%;
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}