.SingerComponent {
    display: flex;
    flex-direction: column;
    background: #009999;
}

.SingerInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    border: 3px solid #004545;
}

.SingerInfo img {
    height: 10vh;
    margin: 10px;
}

.SingerMusic {
    display: flex;
    flex-direction: column;
}

.SingerMusic h1{
    text-align: left;
    font-family: OpenSansRegular, serif;
    border: 3px solid #004545;
}

.SingerMusic h3 {
    text-align: left;
    font-family: OpenSansRegular, serif;
    padding-left: 10px;
}

.SingerMusic .AlbumPreview {
    padding-right: 10px;
}

.SingerMusic .AlbumPreview img {
    width: 100px;
}

.SingerAlbums, .SingerPlaylists, .SingerTracks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    margin-bottom: 20px;
}
.SingerAlbums, .SingerPlaylists {
    font-weight: bold;
    flex-direction: row;
    display: flex;
}

.PlaylistPreview {
    height: 10vh;
    width: auto;
}
.PlaylistPreview img{
    height: 100%;
    width: auto;
}


@font-face {
    font-family: "SanchezRegular";
    src: url("../fonts/Sanchez-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoCyrillicRegular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}